@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    min-height: 100%;
}

body {
    background-size: cover;
    -webkit-font-smoothing: antialiased !important;
}

body, input, button {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

div.container {
    max-width: 500px;
    width: 20%;
    display: flex;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 2%;
    align-content: center;
}

ul.amigos-list {
    margin-left: 2%;
    width: 100%;
    list-style: none;
    display: flexbox;
    grid-template-columns: 10fr;
    font-weight: 400;
    font-size: 20px;
}

ul.amigos-list li {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    align-items: left;
}

.button {
    
}

div.main-buttons {
 
}