@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body, input, button {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

div.listButtons{
    display: flex;
}

ul.amigos-list {
    list-style: none;
    display: flexbox;
    font-weight: 400;
    font-size: 20px;
}

div.staticButtons {
    width: 100%;
    display: flex;
}